img, body {
  max-width: 100%;
  background-color: #e0e4ed;
}

nav {
  display: block;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

nav h1 {
  margin-bottom: 0.25em;
}

nav h2 {
  margin-top: 0;
}

.main {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-around;
  border: 40px;
  padding-left: 60px;
  padding-right: 60px;
}

.fern, .cactus, .succulent, .hoya, .asparagus-fern, .new-plant {
  width: 30em;
  height: 30em;
  margin-bottom: 2em;
}

.plant-text {
  background-color: white;
  text-align: center;
  margin-top: 9em;
  margin-left: 9em;
  margin-right: 9em;
}

.fern {
  background: url(images/fern.png);
}

.cactus {
  background: url(images/cactus.png);
}

.succulent {
  background: url(images/succulent.png);
}

.hoya {
  background: url(images/hoya.png);
}

.asparagus-fern {
  background: url(images/asparagus-fern.png);
}

.new-plant {
  background-color: green;
}
